*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.changeBackground{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, #000, #8787E9);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#calculator{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
#calcTitle{
    margin-bottom: 16px;
}
button{
    height: 50px;
    width: 50px;
    background-color: #313131;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    margin: 3px;
    border-radius: 15px;

    transition: .2s;
}
button:hover{
    background-color: #000;
}

#backOfResult {
    display: flex;
    justify-content: end;
    background-color: #fff;
    border-radius: 7px;
    width: 100%;
    height: 40px;
}


#result{
    margin: 4px 5px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
}

#btEqual{
    height: 108px;
}

#btN0{
    width: 108px;
}